*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#nav{
    height: 80px;
    width: 100%;
    box-shadow: 0px 0px 5px rgb(194, 191, 191);
    display: flex;
    justify-content: center;
}
#nav>article{
    height: 80px;
    width: 92%;
    /* border: 1px solid red; */
    display: flex;
}
#nav>article>.Logo{
    height: 80px;
    width: 100px;
    /* background-color:chartreuse; */
    display: flex;
    align-items: center;
}
#nav>article>.Logo>img{
    height: 65%;
}
#nav>article>.Menu{
    height: 80px;
    width: 40%;
    /* background-color: aquamarine; */
}
#nav>article>.Menu>ol{
    height: 80px;
    display: flex;
    justify-content:space-between;
    list-style-type: none;
    align-items: center;
}

#nav>article>.Menu>ol>li>a{
    text-decoration: none; 
    color: rgb(168, 146, 146);
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}
#nav>article>.Menu>ol>li>a>sup{
    color: rgb(230, 17, 52);
    font-size: 8px
}
#nav>article>.SearchBar{
    height: 80px;
    width: 33%;
    /* background-color: bisque; */
    display: flex;
    justify-content: center;
    align-items: center;
}
#nav>article>.SearchBar>div{
    height: 48%;
    width: 80%;
    border: 1px solid rgb(161, 155, 155);
    display: flex;
    align-items: center;
    border-radius: 5px;
}
#nav>article>.SearchBar>div>input{
    width: 80%;
    border: none;
}
#nav>article>.SearchBar>div>i{
    padding-right: 18px;
    padding-left: 18px;
    color: rgb(135, 133, 138);
    font-size: 14px;
}
#nav>article>.SearchBar>div>input:focus{
    outline: none;
}
#nav>article>.Icons{
    height: 80px;
    width: 17%;
    /* background-color: blue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#nav>article>.Icons>div{
    text-align: center;
}
#nav>article>.Icons>div>p{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: black;
}


#crazyDeals{
height:95px;
width: 100%;
/* background-color: aqua; */
}
#crazyDeals>img{
    height: 100%;
    width: 100%;
}
#poster1{
    height: 55vh;
    width: 100%;
    /* background-color: rgb(65, 28, 202); */
}
#poster1>.row1{
    height: 50%;
    width: 100%;
    display: flex;
}
#poster1>.row1>img{
    height: 100%;
    width: 10%;
}
#poster1>.row2{
    height: 50%;
    width: 100%;
    display: flex;
}
#poster1>.row2>img{
    height: 100%;
    width: 10%;
}

#budgetbuys{
    height: 95px;
    width: 100%;
    background-color: black;
}
#budgetbuys>img{
    height: 100%;
    width: 100%;
}
#poster2{
    height: 55vh;
    width: 100%;
    /* display: flex; */
}
#poster2>.row11{
    height: 50%;
    width: 100%;
    display: flex;
}
#poster2>.row11>img{
    height: 100%;
    width: 13%;
}
#poster2>.row12{
    height: 100%;
    width: 100%;
    display: flex;
}
#poster2>.row12>img{
    height: 50%;
    width: 13%;
}
#brillentbrands{
    height: 95px;
    width: 100%;
}
#brillentbrands>img{
    height: 100%;
    width: 100%;
}
#poster3{
    height: 55vh;
    width: 100%;
}
#poster3>.row21{
    height: 80%;
    width: 100%;
    display: flex;
}
#poster3>.row21>img{
    height: 100%;
    width: 17%;
}
#brandyou{
    height: 95%;
    width: 100%;
}
#brandyou>img{
    height: 100%;
    width: 100%;
}
#poster4{
    height: 55vh;
    width: 100%;
}
#poster4>.row31{
    height: 70%;
    width: 100%;
    display: flex;
}
#poster4>.row31>img{
    height: 100%;
    width: 17%;
}
#shopbycategory{
    height: 95px;
    width: 100%;
}
#shopbycategory>img{
    height: 100%;
    width: 100%;
}
#poster5{
    height: 55vh;
    width: 100%;
}
#poster5>.row41{
    height: 80%;
    width: 100%;
    display: flex;
}
#poster5>.row41>img{
    height: 100%;
    width: 18%;
}


#poster6{
    height: 55vh;
    width: 100%;
}
#poster6>.row51{
    height: 80%;
    width: 100%;
    display: flex;
}
#poster6>.row51>img{
    height: 100%;
    width: 18%;
}

#poster7{
    height: 55vh;
    width: 100%;
}
#poster7>.row52{
    height: 80%;
    width: 100%;
    display: flex;
}
#poster7>.row52>img{
    height: 100%;
    width: 18%;
}

#poster8{
    height: 55vh;
    width: 100%;
}
#poster8>.row53{
    height: 80%;
    width: 100%;
    display: flex;
}
#poster8>.row53>img{
    height: 100%;
    width: 19%;
}

